@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.harmonie{
  font-family: 'Parisienne', cursive;
}

hr{
  transform:rotate(2deg);
  position:relative;
  border:none;
  height:1px;
  background:black;
}
hr:nth-of-type(even){
  transform:rotate(-2deg);
}
hr:before{
  font-size:2em;
  display:inline-block;
  transform:translateY(-0.6em) translateX(-0.50em) rotate(-25deg) rotateX(-180deg) ;
  width:2em;
}
hr:after{
  font-size:2em;
  display:inline-block;
  position:absolute;
  right:0;
  transform:translateY(-0.6em) translateX(0.65em) rotate(-29deg) rotateY(180deg);
  width:2em;
}

.margin-right{font-size:32px; margin-right:24px };


.social-network {
  margin-right: 16px;
  font-size: 21px;
}
.social-network-profil {
  margin-right: 8px;
  font-size: 16px;
}

.nav-link{
  font-weight: bolder;
}


ul {
list-style:none;
}

#leaf{
  display: block;
margin-left: auto;
margin-right: auto;
margin-top:32px;
margin-bottom:32px;
}


* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
background: #DDD;
}

/* clear fix */
.grid:after {
content: '';
display: block;
clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
width: 33.333%;
}

.grid-item {
float: left;
}

.grid-item img {
display: block;
max-width: 100%;
}


.margin-right{font-size:32px; margin-right:24px };

#section1{font-size:40px;}

/* Progress bar */
.container-personality {
  width: 100%;
  background-color: #ddd;
}

.personality {
  text-align: right;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
}

.rigueur {width: 85%; background-color: #f1c40f;}
.autonomie {width: 80%; background-color: #d35400;}
.equipe {width: 90%; background-color: #c0392b;}
.patisserie {width: 5%; background-color: #2ecc71;}
.adaptabilite {width: 90%; background-color: #2980b9;}
.obstacles {width: 80%; background-color: #8e44ad;}
.effort {width: 95%; background-color: #ffb142;}
.critique {width: 80%; background-color: #C4E538;}
